.idea/

/local/test/

/bitrix
/upload
robots.txt
web.config
*.zip
*.xls
*.xlsx
*.doc
*.docx
*.pdf
*.ppt
*.pptx
*.gzip
*.gz
*.tgz
*.tar
*.gz.[0-9]
*.sql
*.log
*.mp3
*.exe
*.db
*.csv
*.xml
*.psd
*.[oa]
*~
*.DS_Store
